1	性价比很高！
2	客服人很好物流也很给力，嗖嗖的！
3	千元机性价比还是蛮好的，外观真心漂亮，点个赞至于性能嘛，刚刚上手，没有发言权，整体还是不错的。
4	手机好烫
5	外观漂亮，运行流畅，电池耐用，性价比较高，自带的应用无法卸载，无使用说明
6	自提货，用着还行，外观挺好看的
7	信号太差
8	宝贝很漂亮，不错，下次还会光顾，赞一个。
9	手机外观不错，物流快，今天买的明天就到了，用着还可以，
10	手机很好！
11	手机收到了，挺好的，很喜欢，一千块的手机值了
12	手机很好用，值得拥有
13	不错的手机   赞一个
14	手机不错，质量都可以
15	手机外观漂亮，反应快，物流给力，赞一个！
16	东西不错，物流也挺快，挺好
17	外观很漂亮，刚到还没用
18	手机卡槽打不开！
19	退货客服也不回信息！！！！
20	不愧是央视宣传的手机，真的不错，运行速度很快，很满意的一次购物，下次还买呢！